In [1]:
a,b,c= "Good", "Morning",18
print(a,b,c)

Good Morning 18

In [13]:
Name, College, Degree, Roll_no = "Shreeshail", "BK", "BCA", 101
print ("Hi, Good morning, I'm", Name, "i'm studing", Degree, "in", College, "at chikodi, my roll no is", Roll_no )

Hi, Good morning, I'm Shreeshail i'm studing BCA in BK at chikodi, my roll no is 101

In [18]:
a=b, c = "college", 25
print(a,b,c)

('college', 25) college 25

In [19]:
x = y =z = 1001
print (x,y,z)

1001 1001 1001

In [21]:
A =10
B=20
print ("addition of",A, "and",B,"is 30")

addition of 10 and 20 is 30

In [22]:
A =10
print(type(A))

<class 'int'>

In [23]:
X =35
print (type(X))

<class 'int'>

In [25]:
COLLEGE =-100
print(type(x))

<class 'int'>

In [27]:
system = +200
print(type(system))

<class 'int'>

In [28]:
number =10001
print(type(number))

<class 'int'>

In [29]:
name =-100.3
print(type(name))

<class 'float'>

In [30]:
run =+20.3
print(type(run ))

<class 'float'>

In [32]:
yes =True
print(type(yes))

<class 'bool'>

In [33]:
yes =18
print(type(yes))

<class 'int'>

In [35]:
yes ="false"
print(type(yes))

<class 'str'>

In [37]:
roll_no =121
print(type(roll_no))

<class 'int'>

In [38]:
value =27.45
print(type(value))

<class 'float'>

In [39]:
section ='c'
print(type(section))

<class 'str'>

In [42]:
programe ="progame"
print(type(programe))

<class 'str'>

In [43]:
string = "python programing language"
print(string)

python programing language

In [56]:
first ="BKC"
Second ="COLLEGE"
print(((first +" "+Second)+"\n")*5)

BKC COLLEGE
BKC COLLEGE
BKC COLLEGE
BKC COLLEGE
BKC COLLEGE

In [77]:
name ="python programing language"
print(name[5])
print(name[-2])
print(name[18])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[-22:-4])
print(name[::1])
print(name[::2])
print(name[::-1])
print(name[::-3])

n
g
l
hon program
python programing la
 programing language
python programing languag
on programing lang
python programing language
pto rgaiglnug
egaugnal gnimargorp nohtyp
euagmgpoy

In [90]:
#Hi Good morning 'single line comments'
Details='''multi line comments
hi, Good morning
'''
print(Details)

multi line comments
hi, Good morning

In [88]:
Roll_no =1,2,3,4,5, _,_,_,_,_,_,
60
print(Roll_no)

(1, 2, 3, 4, 5, 'multi line comments\nhi, Good morning\n', 'multi line comments\nhi, Good morning\n', 'multi line comments\nhi, Good morning\n', 'multi line comments\nhi, Good morning\n', 'multi line comments\nhi, Good morning\n', 'multi line comments\nhi, Good morning\n')

In [149]:
Details = [101]
print(Details)
print(type(Details))
Details.append(85.12)
print(Details)

Details.append(True)
print(Details)
print(len(Details))
print(Details.pop())
print(Details)
Details.append("shreeshail")
print(Details)

Details.append(99)
print(Details)
print(len(Details))

print(Details[2])
print(Details[3])
Details.append("BK college")
print(Details)
Details[3] = 99
print(Details)
print(Details[2:4])
Details.insert(2,False)
print(Details)
print(len(Details))
Details.remove(False)
print (Details)
print(len(Details))
print(Details[4])
print(Details[::-1])
print(Details.count(101))
print(Details.clear())
print(Details)
print(type(Details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'shreeshail']
[101, 85.12, 'shreeshail', 99]
4
shreeshail
99
[101, 85.12, 'shreeshail', 99, 'BK college']
[101, 85.12, 'shreeshail', 99, 'BK college']
['shreeshail', 99]
[101, 85.12, False, 'shreeshail', 99, 'BK college']
6
[101, 85.12, 'shreeshail', 99, 'BK college']
5
BK college
['BK college', 99, 'shreeshail', 85.12, 101]
1
None
[]
<class 'list'>

In [151]:
Information = [76]
print(Information)
print(type(Information))
Information.append(85.12)
print(Information)

Information.append(True)
print(Information)
print(len(Information))
print(Information.pop())
print(Information)
Information.append("shreeshail")
print(Information)

Information.append(99)
print(Information)
print(len(Information))

print(Information[2])
print(Information[3])
Information.append("basavaprabhu kore college chikodi")
print(Information)
Information[3] = 99
print(Information)
print(Information[2:4])
Information.insert(2,False)
print(Information)
print(len(Information))
Information.remove(False)
print (Information)
print(len(Information))
print(Information[4])
print(Information[::-1])
print(Information.count(101))
print(Information.clear())
print(Information)
print(type(Information))

number =[4,5,2,9,5,8]
print(number)
number.sort()
print(number)

[76]
<class 'list'>
[76, 85.12]
[76, 85.12, True]
3
True
[76, 85.12]
[76, 85.12, 'shreeshail']
[76, 85.12, 'shreeshail', 99]
4
shreeshail
99
[76, 85.12, 'shreeshail', 99, 'basavaprabhu kore college chikodi']
[76, 85.12, 'shreeshail', 99, 'basavaprabhu kore college chikodi']
['shreeshail', 99]
[76, 85.12, False, 'shreeshail', 99, 'basavaprabhu kore college chikodi']
6
[76, 85.12, 'shreeshail', 99, 'basavaprabhu kore college chikodi']
5
basavaprabhu kore college chikodi
['basavaprabhu kore college chikodi', 99, 'shreeshail', 85.12, 76]
0
None
[]
<class 'list'>
[4, 5, 2, 9, 5, 8]
[2, 4, 5, 5, 8, 9]