In [ ]:
# Address =2010
print(3+3)

6

In [ ]:
Example=(1 ,"SHARAT",3.12,False)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'SHARAT', 3.12, False)
4
<class 'tuple'>
1
(1, 'SHARAT', 3.12)
False
False

In [ ]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add*4)

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
example = {1,2,3,4,5,}
print(example)
print(type(example))
print(len(example))
example.add(10)
print(example)
example.add("BKC")
print(example)
example ={}
print(type(example))
example = {1}
print(type(example))
example = (1,2,2,3,4,4,5,6,7)
print(example)
print(type(example))
print(len(example))

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'BKC', 10}
<class 'dict'>
<class 'set'>
(1, 2, 2, 3, 4, 4, 5, 6, 7)
<class 'tuple'>
9

In [ ]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first|second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first.difference(second))
print(second-first)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{5, 6}

In [ ]:
Dict={"roll_number":201,
      "name":"sachin",
      "address":"ghataprabha",
      "CGPA":2.55,
      "course":"MCA",
      "year":"2022"
      }
print(Dict)
print(len(Dict))
Dict["gender"]="male"
print(Dict)
Dict["mobile number"]="99013953**"
print(Dict)
Dict["college"]="BKC COLLEGE"
print(Dict)
Dict["college"]="skh pu college"
print(Dict)
del Dict["gender"]
print(Dict)
Dict["gender"] = "male"
print(Dict)
print(Dict["college"])
Dict["age"] = "18"
print(Dict)
Dict.pop("address")
print(Dict)
print(len(Dict))
print(Dict.popitem())
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022'}
6
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'gender': 'male'}
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'gender': 'male', 'mobile number': '99013953**'}
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'gender': 'male', 'mobile number': '99013953**', 'college': 'BKC COLLEGE'}
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'gender': 'male', 'mobile number': '99013953**', 'college': 'skh pu college'}
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'mobile number': '99013953**', 'college': 'skh pu college'}
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'mobile number': '99013953**', 'college': 'skh pu college', 'gender': 'male'}
skh pu college
{'roll_number': 201, 'name': 'sachin', 'address': 'ghataprabha', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'mobile number': '99013953**', 'college': 'skh pu college', 'gender': 'male', 'age': '18'}
{'roll_number': 201, 'name': 'sachin', 'CGPA': 2.55, 'course': 'MCA', 'year': '2022', 'mobile number': '99013953**', 'college': 'skh pu college', 'gender': 'male', 'age': '18'}
9
('age', '18')
dict_keys(['roll_number', 'name', 'CGPA', 'course', 'year', 'mobile number', 'college', 'gender'])
dict_values([201, 'sachin', 2.55, 'MCA', '2022', '99013953**', 'skh pu college', 'male'])
dict_items([('roll_number', 201), ('name', 'sachin'), ('CGPA', 2.55), ('course', 'MCA'), ('year', '2022'), ('mobile number', '99013953**'), ('college', 'skh pu college'), ('gender', 'male')])
None

In [ ]:
Dict={"roll_number":76,
      "name":"sachin",
      "address":"gokak",
      "CGPA":100.55,
      "course":"MCA",
      "year":"2026"
      }
print(Dict)
print(len(Dict))
Dict["gender"]="male"
print(Dict)
Dict["mobile number"]="9901395377"
print(Dict)
Dict["college"]="basavaprabhu kore college chikodi"
print(Dict)
Dict["college"]="skh pu college"
print(Dict)
del Dict["gender"]
print(Dict)
Dict["gender"] = "male"
print(Dict)
print(Dict["college"])
Dict["age"] = "20"
print(Dict)
Dict.pop("address")
print(Dict)
print(len(Dict))
print(Dict.popitem())
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026'}
6
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'gender': 'male'}
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'gender': 'male', 'mobile number': '9901395377'}
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'gender': 'male', 'mobile number': '9901395377', 'college': 'basavaprabhu kore college chikodi'}
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'gender': 'male', 'mobile number': '9901395377', 'college': 'skh pu college'}
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'mobile number': '9901395377', 'college': 'skh pu college'}
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'mobile number': '9901395377', 'college': 'skh pu college', 'gender': 'male'}
skh pu college
{'roll_number': 76, 'name': 'sachin', 'address': 'gokak', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'mobile number': '9901395377', 'college': 'skh pu college', 'gender': 'male', 'age': '20'}
{'roll_number': 76, 'name': 'sachin', 'CGPA': 100.55, 'course': 'MCA', 'year': '2026', 'mobile number': '9901395377', 'college': 'skh pu college', 'gender': 'male', 'age': '20'}
9
('age', '20')
dict_keys(['roll_number', 'name', 'CGPA', 'course', 'year', 'mobile number', 'college', 'gender'])
dict_values([76, 'sachin', 100.55, 'MCA', '2026', '9901395377', 'skh pu college', 'male'])
dict_items([('roll_number', 76), ('name', 'sachin'), ('CGPA', 100.55), ('course', 'MCA'), ('year', '2026'), ('mobile number', '9901395377'), ('college', 'skh pu college'), ('gender', 'male')])
None

In [138]:
employee={"employee_id":1001,
          "employee_name":"sachin",
          "contact_number":9901395377,
          "salary":200000,
          "email_id":"sachinkhanapure@gmail.com",
          "company":"Google",
          "employee_habbit":"running",
          }
print(employee)
employee["country"] = "india"
employee["pin code"] = "591203"
print(type(employee))
print(len(employee))
employee.pop("email_id")
employee["department"] = "developer"
print(employee)
print(employee["salary"])
print(len(employee))
employee["department"]="testing"
print(type(employee))
print(employee.popitem())
print(employee.keys())
print(employee.values())
name={"name":"sachin",
      "name":"sachin",
      "f_name":"sachin",
      "l_name":"sachin"
      }
print(name)

{'employee_id': 1001, 'employee_name': 'sachin', 'contact_number': 9901395377, 'salary': 200000, 'email_id': 'sachinkhanapure@gmail.com', 'company': 'Google', 'employee_habbit': 'running'}
<class 'dict'>
9
{'employee_id': 1001, 'employee_name': 'sachin', 'contact_number': 9901395377, 'salary': 200000, 'company': 'Google', 'employee_habbit': 'running', 'country': 'india', 'pin code': '591203', 'department': 'developer'}
200000
9
<class 'dict'>
('department', 'testing')
dict_keys(['employee_id', 'employee_name', 'contact_number', 'salary', 'company', 'employee_habbit', 'country', 'pin code'])
dict_values([1001, 'sachin', 9901395377, 200000, 'Google', 'running', 'india', '591203'])
{'name': 'sachin', 'f_name': 'sachin', 'l_name': 'sachin'}

In [143]:
a=10
b=3
c=a/b
print(a/b)
print(type(c))

3.3333333333333335
<class 'float'>

In [147]:
from re import T
a,b,c=2.5,3.5,a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))
i=20
j=5.5
k=i+j
print(type(k))

a=49
b=7
print(type(a/b))
i=True
print(type(i))
j=5
print(type(i+j))

6.0
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'int'>

In [152]:
m=2.9
n=False
o=m-n
print(type(o))


p=True
q=False
r=p+q
print(type(r))


s=2.6
t=False
print(type(s*t))

<class 'float'>
<class 'int'>
<class 'float'>

In [155]:
num = 3.12
print(type(num))
add = int(num)
print(type(add))
print(type(num))

<class 'float'>
<class 'int'>
<class 'float'>

In [174]:
num="101"
print(type(num))
add=(int(num))
print(type(add))


sub=False
add=int(sub)



demo=1
print(type(demo))
print(type(bool(demo)))

demo=9.99
print(type(demo))
print(type(float(demo)))
Demo = False
print(type(Demo))
print(type(float(Demo)))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'float'>

In [181]:
#1.Str -List
Num1 = "shreeshail"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex1))

<class 'str'>
<class 'list'>

In [182]:
a = (10,20)
print(type(list(a)))

<class 'list'>

In [184]:
#2) tuple  -list
a = (1,2,3,4,5)
print(type(list(a)))

<class 'list'>

In [190]:
a = (1,2)
print(type(list(a)))

<class 'list'>

In [185]:
#3)set -list
num3 ={1,23,4,5}
print(type(num3))

<class 'set'>

In [187]:
ex3 = list(num3)
print(type(ex3))

<class 'list'>

In [188]:
#4)dict -list
num4 ={}
print(type(num4))

<class 'dict'>

In [189]:
ex4 = list(num4)
print(type(ex4))

<class 'list'>

In [195]:

print("a=20, b=10")

a=20, b=10

In [204]:
Num3 = (("Name"),"Shreeshail"),("Age",25)
print(type(Num3))

<class 'tuple'>

In [202]:
Num4 ={("Roll_number",501),("section","c")}
print(type(Num4))

<class 'set'>

In [203]:
Ex4 = dict(num4)
print(type(Ex4))

<class 'dict'>

In [205]:
int(3.8)
print(int)

<class 'int'>

In [210]:
A = 10
B= 20
print("Before Swapping")
print("A =",A,"B =",B)

print("After Swapping")
temp = A
A = B
B = temp
print("A =",A,"B =",B)

Before Swapping
A = 10 B = 20
After Swapping
A = 20 B = 10