In [9]:
example = ["laptop",39000, "window","lenovo","bengaluru","laptop",39000,"MAC","lenovo","chikodi"]
print(example)
print(example.count("lenovo"))

['laptop', 39000, 'window', 'lenovo', 'bengaluru', 'laptop', 39000, 'MAC', 'lenovo', 'chikodi']
2

In [10]:
#compile time programe
A = 10
B = 20
print(A+B)

30

In [12]:
#run time programe

x = int(input("enter x value:"))
y = int(input("enter y value:"))
print(x+y)

enter x value:10
enter y value:20
30

In [16]:
#addition of 10 and 20 value is =30
x = int(input("enter x value:"))
y = int(input("enter y value:"))
print("Addition of ",x , "and",y,"value is =",x+y)

enter x value:10
enter y value:20
Addition of  10 and 20 value is = 30

In [17]:
first = float(input("enter first value:"))
second = float(input("enter second value:"))
print(first*second)

enter first value:10
enter second value:5
50.0

In [19]:
first_name = input("enter first name")
last_name = input("enter last name")
print(first_name+""+last_name)

enter first nameshreeshail
enter last name kerur
shreeshail kerur

In [25]:
i=float(input("enter i value:"))
j=float(input("enter j value:"))
print(i*j)

enter i value:7
enter j value:6
42.0

In [26]:
i = input()
j = input()
print(i+j)

Bkc
college
Bkccollege

In [28]:
name = 'shreeshail';age=18
print(f'my name is {name} and i am{age}years old.')

my name is shreeshail and i am18years old.

In [32]:
x= 100
y= 50
print(f'addition of {x} and {y} value is= {x+y}')
x= 100
y= 50
print(f'division of {x} and {y} value is= {x/y}')

addition of 100 and 50 value is= 150
division of 100 and 50 value is= 2.0

In [54]:
#airthmetic operation
num1 = int(input("enter num1 value:"))
num2 = int(input("enter num2 value:"))
print("addition of two numbers is : ",num1 + num2)
print()
print("subtraction of two numbers is : ",num1 - num2)
print()
print("multiplication of two numbers is : ",num1 * num2)
print()
print("division of two numbers is : ",num1 / num2)
print()
print("modulus of two numbers is : ",num1 % num2)
print()
print("floor division of two numbers is :",num1 // num2)
print()
print("exponent of two numbers is : ",num1 ** num2)
print()

enter num1 value:10
enter num2 value:5
addition of two numbers is :  15

subtraction of two numbers is :  5

multiplication of two numbers is :  50

division of two numbers is :  2.0

modulus of two numbers is :  0

floor division of two numbers is : 2

exponent of two numbers is :  100000

In [59]:
number1 = 25
number2 = 30
print(number1 > number2)
print()
print(number2 < number1)
print()
print(number1 == 25)
print()
print(number1 <= number2)
print()
print(number2 != 30)
print()
print(number2 >= 30)
print()
print(10 != 20)
print()
print(number1 == number2)
print()
print(number2 != number1)

False

False

True

True

False

True

True

False

True

In [67]:
a = 20
b = 35
c = 13
d = 10
print(a == b and c < d)
print(13 != c and d < c)
print(b > a and d < c)
print(20 != a and c == b)
print(a < b or d == c)
print((not(a < b)) and 100 < 200)
print(not(d == 10))
print(35!=d or (not(20==a)))
print(not(c<=b and (not(a<=c))))

False
False
True
False
True
False
False
True
False

In [97]:
x = 10
print(x)
x-=2
print(x)
x*=5
print(x)
x//= 4
print(x)
x**=2
print(x)
x%=4
print(x)
x+=9
print(x)
x/= 3
print(x)

10
8
40
10
100
0
9
3.0

In [99]:
num = 9
if num < 10 :
  print("num is a greater  then 9")

num is a greater  then 9

In [110]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
    print("Login Successfully")

Login Successfully

In [113]:
name = "shreeshail"
if name <= "BKC":
     print("my name is shreeshail")

In [118]:
num=int(input("enter a number value :"))
if num > 0 :
   print("positive number")
else :
   print("negative number")

enter a number value :5
positive number

In [123]:
num=int(input("enter a number value :"))
if num > 0 :
   print("even number")
else :
   print("odd number")

enter a number value :5
even number

In [126]:
year=int(input("enter the year value"))
if year % 4==0 :
    print("leap year")
else:
    print("not leaf year")

enter the year value2008
leap year

In [133]:
age = int(input("enter a number value"))
if age >= 18 :
  print("voter")
else:
  print("non voter")

enter a number value21
voter

In [137]:
password = int(input("enter a number value"))
if password == 7676 :
   print("correct password")
else:
   print("incorrect password")

enter a number value7676
correct password

In [151]:
User_id = input("enter the user_id value :")
Password = int(input("enter Password value: "))
if User_id == "college" and Password == 7676 :
   print("login succesfully")
else:
   print("Invalid details")

enter the user_id value :college
enter Password value: 7676
login succesfully

In [161]:
marks=int(input("enter the marks  value"))
if marks >= 85 :
  print("distiction")
elif marks >= 70 :
  print("first class")
elif marks >= 55 :
  print("second class")
elif marks >= 35 :
  print("just pass")

enter the marks  value62
second class

In [162]:
prize = input("enter prize medal")
if prize == "gold" :
   print("first prize")
elif prize == "silver" :
   print("second prize")
elif prize == "bronze" :
   print("third prize")
elif prize == "certificate" :
   print("samadhanakara bahumana")
else:
   print("better luck next chance")

enter prize medalgold
first prize

In [171]:
colour = input("enter the coloue value")
if colour == "red" :
  print("stop")
elif colour == "yellow" :
  print("slow")
elif colour == "green" :
  print("go speed")
else:
  print("invalid colour")

enter the coloue valuegreen
go speed