In [ ]:
a,b,c = 25,35,15
if a > b :
  if a > c :
     print("a is big")
  else :
     print("c is big")
else :
    if b > c :
     print("b is big")
    else :
     print("c is big")

b is big

In [ ]:
a,b,c = 25,35,15
if a < b :
  if a < c :
     print("a is small")
  else :
     print("c is small")
else :
    if b < c :
     print("b is small")
    else :
     print("c is small")

c is small

In [ ]:
num = int(input("enter the num value :"))
if num > 0 :
  if num == 0 :
    print("zero value")
  else:
    print("positive number")
else:
    print("negative number")

enter the num value :0
negative number

In [ ]:
num = int(input("enter the num value :"))
if num >= 0 :
  if num == 0 :
    print("zero value")
  else:
    print("positive number")
else:
    print("negative number")

enter the num value :-5
negative number

In [ ]:
# write a programe arithmatic operator using switch statement
x,y = 10,20
option = (input("enter your choic option :"))
match  option:
    case'+' :
      print("sum of value", x + y)
    case'-' :
      print ("sub of value", x - y)
    case'*' :
      print("mul of value", x * y)
    case'/' :
      print("div of value", x / y)
    case'%' :
      print("modulus of value", x % y)
    case '!=' :
      print("invalid operater")
    case '_' :
      print("not equal", x !=y)

enter your choic option :/
div of value 0.5

In [ ]:
day = int(input("enter a day"))
match day:
  case 1 :
    print("monday")
  case 2 :
    print("tuesday")
  case 3 :
    print("wednsday")
  case 4 :
    print("thursday")
  case 5 :
    print("friday")
  case 6 :
    print("saturday")
  case 7 :
    print("sunday")
  case 8 :
    print("holiday")

enter a day8
holiday

In [ ]:
month = int(input("enter a number"))
match month:
  case 1 :
    print("januaray")
  case 2 :
    print("february")
  case 3 :
    print("march")
  case 4 :
    print("april")
  case 5 :
    print("may")
  case 6 :
    print("june")
  case 7 :
    print("july")
  case 8 :
    print("august")
  case 9 :
    print("september")
  case 10 :
    print("october")
  case 11 :
    print("november")
  case 12 :
    print("december")
  case _ :
    print("invaild number")

enter a number6
june

In [ ]:
num = 1
while num <= 60 :
     print(num,end=" ")
     num +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add = 0
while i <= 10 :
  add = add +i
  i = i + 1
print("sum of n natural number is :",add)

sum of n natural number is : 55

In [ ]:
num = 5
i = 1
while i <= 10 :
    print("5 *",i,"=",num*i)
    i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num = 5
i = 1
while i <= 10 :
    print("5 *",i,"=",num*i)
    i = i + 1

armstrong number

In [ ]:
num = 12345
rem = 0
sum = 0
temp = num
while num > 0 :
   rem = num % 10
   rev = rev * 10 + rem
   num = num //10
print("reverse number is :", rev)

NameError: name 'rev' is not defined

In [ ]:
#print even number between 1 to 100
i = 2
while i <=100 :
    print(i, end = " ")
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#print odd number between 1 to 100
i = 1
while i <=100 :
    print(i, end = " ")
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
    print(a, end = " ")
    a, b = b, a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num  = int(input("enter a  number value"))
count = 0
i = 1
while i<= num :
    if num % i == 0 :
         count+=1
         i+=1
if count == 2 :
    print("prime number")
else:
    print("not prime number")

In [ ]:
 i = 10
while i <=1280 :
  print(i,end=" ")
  i*=2

In [ ]:
colour = ['blue','red','pink',;black']

In [ ]:
for i in range(10) :
  print(i)